.div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.box button {
    width: 100px;
    height: 80px;
    border-radius: 10px;
    margin: 10px;
}
.box button:hover{
    background-color: #95c7c7;
}
.screen{
    border: 2px solid black;
    width: 460px;
    height: 100px;
    border-radius:10px ;
}